<style>
  footer{
    background-color: rgba(0,0,0,0.9);
  }
</style>
<footer class="footer py-3 mt-auto">
  <div class="container text-center">
    <span class="text-muted">&copy; YelpCamp 2021</span>
  </div>
</footer>