<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %> 
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">SignUp</a>
        <% } else { %> 
        <a class="nav-link" id="logout" href="/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %> 
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">SignUp</a>
        <% } else { %> 
        <a class="nav-link" id="logout" href="/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>

<script src="/js/navigationActive.js"></script>
