<% layout('layouts/boilerplate.ejs') %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= err.message %> </h4>
        <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p> -->
        <hr>
        <% if(process.env.NODE_ENV !== "production"){ %> 
        <p class="mb-0"><%= err.stack %> </p>
        <% } %> 
      </div>
    </div>
  </div>