<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpCamp</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex h-100 w-100 mx-auto flex-column">

    <header class="mb-auto">
      <!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="/">Home</a>
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
              <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav ms-auto">
              <% if(!currentUser){ %> 
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">SignUp</a>
              <% } else { %> 
              <a class="nav-link" id="logout" href="/logout">Logout</a>
              <% } %> 
            </div>
          </div>
        </div>
      </nav> -->
      <%- include('./partials/navbar.ejs') %>
    </header>

    <main class="content container px-3">
      <h2>Welcome to YelpCamp</h2>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, et sapiente maiores, perspiciatis fugiat sint commodi harum enim eaque doloribus quae saepe reiciendis sit, fugit ipsa nisi explicabo a temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ut ipsam eveniet culpa vel animi, voluptatibus iure eius laborum quod.</p>
      <a class="btn btn-lg btn-special fw-bold bg-transparent mt-3" href="/campgrounds">View Campgrounds</a>

    </main>

    <footer class="footer bg-transparent py-3 mt-auto">
      <div class="container text-center text-white">
        <span>&copy; YelpCamp 2021</span>
      </div>
    </footer>
  </div>

  

  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> -->
  <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>