form {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  /* border: 1px solid rgb(119, 119, 119); */
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(207, 207, 207,0.5);
  margin: auto;
}
.form-title{
  color: rgba(255,255,255,0.75);
}
.img-thumbnail{
  background-color: rgba(0,0,0,0.5);
  padding: 0.05rem;
}
/* .form-control{
  background-color: rgba(0,11,31, 0.2);
} */
.btn-block{
  width: 100%;
}
.btn-special{
  border: none;
  color: rgba(255,255,255,0.5);
  border-bottom: 0.25rem solid transparent;
  border-radius: 0;
}
.btn-special:hover{
  color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,0.8);
}