body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  /* background-image: url('https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),
  url('/images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
}

/* .navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,0.5);
  border-bottom: 0.25rem solid transparent;
}
.navbar-dark .navbar-nav .nav-link:hover{
  border-bottom-color: rgba(255,255,255,0.5);
}
.navbar-dark .navbar-nav .nav-link.active{
  color: white;
  border-bottom-color: rgba(255,255,255,1);
} */

.content h2{
  font-family: 'Reggae One', cursive;
}
.content p{
  margin: auto;
  max-width: 70%;
}

.btn-special{
  border: none;
  color: rgba(255,255,255,0.5);
  border-bottom: 0.25rem solid transparent;
  border-radius: 0;
}
.btn-special:hover{
  color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,0.8);
}

