/* global css file */
body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100vh; */
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),
  url('/images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container-fluid{
  max-width: 90%;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,0.5);
  border-bottom: 0.25rem solid transparent;
}
.navbar-dark .navbar-nav .nav-link:hover{
  border-bottom-color: rgba(255,255,255,0.5);
  /* color: rgba(2555,255,255,0.8); */
}
.navbar-dark .navbar-nav .nav-link.active{
  color: white;
  border-bottom-color: rgba(255,255,255,1);
}

.navbar.sticky-top.scrolled {
  background-color: rgba(0,0,0,0.9) !important;
  transition: background-color 200ms linear;
}
/* .navbar.scrolled{
  background: rgba(0,0,0,0.9) !important; 
  transition: background 600ms;
} */

.container.main.scrollable{
  height: calc(100vh - 190px);
  overflow-y: scroll;
  margin-bottom: 1rem;
}
/* .incMargin{
  margin-top: 6rem !important;
} */