<link rel="stylesheet" href="/css/form-style.css">
<% layout('layouts/boilerplate.ejs') %>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <h1 class="text-center form-title mb-3">Edit Campground</h1>
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="mb-3 mt-2 validated-form" novalidate enctype="multipart/form-data">

        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" placeholder="Title" required>
          <label class="form-label mb-1" for="title">Title</label>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" placeholder="Location" required>
          <label class="form-label mb-1" for="location">Location</label>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <div class="input-group has-validation">
            <span class="input-group-text" style="width: 6%;" id="price-label">$</span>
            <div class="form-floating" style="width: 94%;">
              <input type="text" step="any" class="form-control" id="price" name="campground[price]" value="<%= campground.price %>" placeholder="Price" aria-label="Price" aria-describedby="price-label" required>
              <label class="form-label mb-1" for="price">Price</label>
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>

        <div class="form-floating form-floating-fix mb-3">
          <textarea type="text" name="campground[description]" id="desc" class="form-control" style="height: 100px;" placeholder="Description" required><%= campground.description %></textarea>
          <label class="form-label mb-1" for="desc">Description</label>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="input-group custom-file mb-3">
          <label class="input-group-text" for="image">Add more images</label>
          <input type="file" class="form-control" id="image" name="image" multiple>
        </div>

        <div class="mb-3">
          <h6 class="" style="color: rgba(255,255,255,0.8);">Select images for deletion</h6>
          <% campground.images.forEach(function(img, i){ %>
            <div class="d-inline-block me-2 mb-2">
              <div class="form-check-inline me-1">
                <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="img-<%= i %>">
              </div>
              <label for="img-<%= i %>">
                <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
              </label>
            </div>
            <% }) %>
        </div>

        <button class="btn btn-success  d-block mx-auto">Update</button>
      </form>
      <div class="text-center">
        <a href="/campgrounds/<%= campground._id %>" style="text-decoration: none;"><button class="btn btn-special d-block mx-auto">Back to Campground</button></a>
      </div>
    </div>
  </div>