<% layout('layouts/boilerplate.ejs') %>
<div class="mb-5 clusterMap" id="map" style="width: 100%; height: 500px;"></div>

<h1 class="text-center" style="color: rgba(255,255,255,0.8); margin-top: 4rem;">All Campgrounds</h1>
<!-- <a href="/campgrounds/new">Add New Campground</a> -->
<div class="container main scrollable">
  <% for(let campground of campgrounds) { %>
    <div class="card mb-2">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length){ %>
            <img src="<%= campground.images[0].url %>" alt="" width="100%" height="250px">
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <h6 class="card-text">
              <small class="text-muted">
                <%= campground.location %>
              </small>
            </h6>
            <p class="card-text">
              <%= campground.description %>
            </p>

            <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View Campground</a>
            <!-- <a href="/campgrounds/<%= campground._id %>/edit " class="btn btn-outline-secondary">Edit</a> -->
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>

<script>
  const mapToken = '<%-process.env.mapbox_token%>';
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>

<script src="/js/clusterMap.js"></script>