<link rel="stylesheet" href="/css/form-style.css">
<% layout('layouts/boilerplate.ejs') %>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <h1 class="text-center form-title mb-3">Add New Campground</h1>
      <form action="/campgrounds" method="POST" class="mb-3 mt-2 validated-form" novalidate enctype="multipart/form-data">
        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="title" name="campground[title]" placeholder="Title" required autofocus>
          <label class="form-label mb-1" for="title">Title</label>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="location" name="campground[location]" placeholder="Location" required>
          <label class="form-label mb-1" for="location">Location</label>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        

        <!-- <div class=" mb-3">
          <label class="form-label mb-1" for="price">Price</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" step="any" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="Price" aria-describedby="price-label" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div> -->
        <div class="mb-3">
          
          <div class="input-group has-validation">
            <span class="input-group-text" style="width: 6%;" id="price-label">$</span>
            <div class="form-floating" style="width: 94%;">
              <input type="text" step="any" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="Price" aria-describedby="price-label" required>
              <label class="form-label mb-1" for="price">Price</label>
            </div>
            
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <textarea name="campground[description]" id="desc" class="form-control" placeholder="Description" required style="height: 80px;"></textarea>
          <label class="form-label mb-1" for="desc">Description</label>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="input-group custom-file mb-3">
          <label class="input-group-text" for="image">Upload Images</label>
          <input type="file" class="form-control" id="image" name="image" multiple required>
          <div class="invalid-feedback">Please upload atleast one image</div>
        </div>

        

        <button class="btn btn-success d-block mx-auto">Submit</button>
      </form>
      <!-- <div class="text-center">
        <a href="/campgrounds" style="text-decoration: none;"><button class="btn btn-outline-secondary d-block mx-auto">Campgrounds</button></a>
      </div> -->
    </div>
  </div>