<link rel="stylesheet" href="/css/stars.css">

<style>
  .starability-basic{
    min-height: 35px;
  }
  
</style>

<% layout('layouts/boilerplate.ejs') %>
  <div class="row mb-3">
    <div class="col-md-6">

      <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% campground.images.forEach((img, i)=>{ %>
            <div class="carousel-item <%= i===0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
          <% }) %>
        </div>

        <% if(campground.images.length >1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">
            <%= campground.title %>
          </h2>
          <h6 class="card-text text-muted">
            <%= campground.location %>
          </h6>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item text-muted"><h6 class="d-inline"><%= campground.location %></h6></li> -->
          <li class="list-group-item text-muted">Price: $<%= campground.price %> per night</li>
          <li class="list-group-item text-muted">Submitted by <%= campground.author.username %></li>
        </ul>
        <% if(currentUser && campground.author.equals(currentUser._id)){ %> 
        <div class="card-body">
          <a href="/campgrounds/<%= campground._id %>/edit"><button class="btn btn-primary" style="margin-right: 10px;">Edit</button></a>
          <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
        </div>
        <% } %> 
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3" id='map' style='width: 100%; height: 300px;'></div>
  
      <% if(currentUser){ %> 
      <h3>Leave Review</h3>
      <form class="validated-form mb-3" action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate>
        <!-- <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
        </div> -->
        <fieldset class="starability-basic">
          <!-- <legend>First rating:</legend> -->
          <!-- <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." /> -->
          <input type="radio" id="first-rate1" name="review[rating]" checked value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="2" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button class="btn btn-sm btn-success">Submit</button>
      </form>
      <% } %> 

      <div class="mb-3">
        <% if(campground.reviews.length==0){ %>
          <h4 class="text-muted">No reviews</h4>
        <% } %>  
        <% for(let review of campground.reviews){ %>
          <div class="card mb-1">
            <div class="card-body">
              <h5 class="card-title"><%= review.author.username %></h5>
              <p class="starability-result" data-rating="<%= review.rating %>">
                Rated: <%= review.rating %> stars
              </p>
              <!-- <h6 class="card-subtitle text-muted mb-1">By </h6> -->
              <p class="card-text">Review: <%= review.body %></p>

              <% if(currentUser && review.author.equals(currentUser._id)){ %>
              <form class="p-0 m-0 mt-1" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <a href="" type="submit" onclick="this.closest('form').submit();return false;">Delete</a>
              </form>
              <% } %> 
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <!-- <a href="/campgrounds">All Campgrounds</a> -->


  <script>
    const mapToken = '<%-process.env.mapbox_token%>';
    const campground = <%-JSON.stringify(campground)%>
  </script>
  <script src="/js/showMap.js"></script>