<link rel="stylesheet" href="/css/form-style.css">
<% layout('layouts/boilerplate.ejs') %>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <h1 class="text-center form-title mb-3">Sign Up</h1>
    <form action="/register" method="POST" class="mb-3 mt-2 validated-form" novalidate>
      
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required autofocus>
        <label class="form-label mb-1" for="username">Username</label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
        <label for="email">Email</label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        <label class="form-label mb-1" for="password">Password</label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <button class="btn btn-success d-block mx-auto">Submit</button>
    </form>
    <!-- <div class="text-center">
      <a href="/campgrounds" style="text-decoration: none;"><button class="btn btn-outline-secondary d-block mx-auto">Campgrounds</button></a>
    </div> -->
  </div>
</div>